
-- Create role enum
CREATE TYPE public.app_role AS ENUM ('owner', 'admin', 'technician');

-- Create service status enum
CREATE TYPE public.service_status AS ENUM (
  'Diterima', 'Diagnosa', 'Menunggu Konfirmasi', 'Pending', 
  'Perbaikan', 'Selesai', 'Siap diAmbil', 'Close', 'Cancelled'
);

-- Create profiles table
CREATE TABLE public.profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  full_name TEXT NOT NULL,
  email TEXT NOT NULL,
  is_approved BOOLEAN DEFAULT FALSE,
  requested_role app_role NOT NULL DEFAULT 'technician',
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Create user_roles table
CREATE TABLE public.user_roles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  role app_role NOT NULL,
  UNIQUE(user_id, role)
);

-- Create service_orders table
CREATE TABLE public.service_orders (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  ticket_number TEXT UNIQUE NOT NULL,
  customer_name TEXT NOT NULL,
  customer_phone TEXT NOT NULL,
  customer_email TEXT,
  device_type TEXT NOT NULL,
  device_brand TEXT NOT NULL,
  device_model TEXT NOT NULL,
  device_password TEXT,
  damage_description TEXT,
  unit_condition TEXT NOT NULL,
  unit_accessories TEXT,
  unit_checks JSONB DEFAULT '{}',
  service_type TEXT NOT NULL,
  status service_status NOT NULL DEFAULT 'Diterima',
  estimated_cost NUMERIC,
  final_cost NUMERIC,
  invoice_items JSONB,
  assigned_technician UUID REFERENCES auth.users(id),
  created_by UUID REFERENCES auth.users(id) NOT NULL,
  notes TEXT,
  edited_by TEXT,
  edited_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Create service_updates table
CREATE TABLE public.service_updates (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id UUID NOT NULL REFERENCES public.service_orders(id) ON DELETE CASCADE,
  status service_status NOT NULL,
  description TEXT,
  cancel_type TEXT,
  updated_by UUID REFERENCES auth.users(id) NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Create service_photos table
CREATE TABLE public.service_photos (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id UUID NOT NULL REFERENCES public.service_orders(id) ON DELETE CASCADE,
  photo_url TEXT NOT NULL,
  label TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Create saved_customers table for "remember customer" feature
CREATE TABLE public.saved_customers (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  customer_name TEXT NOT NULL,
  customer_phone TEXT NOT NULL,
  customer_email TEXT,
  created_by UUID REFERENCES auth.users(id) NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Enable RLS on all tables
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.service_orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.service_updates ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.service_photos ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.saved_customers ENABLE ROW LEVEL SECURITY;

-- Create SECURITY DEFINER function for role checking
CREATE OR REPLACE FUNCTION public.has_role(_user_id UUID, _role app_role)
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.user_roles
    WHERE user_id = _user_id AND role = _role
  )
$$;

-- Create helper: check if user has any staff role
CREATE OR REPLACE FUNCTION public.is_staff(_user_id UUID)
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.user_roles
    WHERE user_id = _user_id
  )
$$;

-- Create helper: check if user is approved
CREATE OR REPLACE FUNCTION public.is_approved(_user_id UUID)
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.profiles
    WHERE id = _user_id AND is_approved = TRUE
  )
$$;

-- Updated_at trigger function
CREATE OR REPLACE FUNCTION public.update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SET search_path = public;

-- Apply updated_at triggers
CREATE TRIGGER update_profiles_updated_at
  BEFORE UPDATE ON public.profiles
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_service_orders_updated_at
  BEFORE UPDATE ON public.service_orders
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- Auto-generate ticket number function
CREATE OR REPLACE FUNCTION public.generate_ticket_number()
RETURNS TRIGGER AS $$
DECLARE
  month_letter CHAR(1);
  next_num INTEGER;
  current_month INTEGER;
BEGIN
  current_month := EXTRACT(MONTH FROM now())::INTEGER;
  month_letter := CHR(64 + current_month); -- A=Jan, B=Feb, etc.
  
  SELECT COALESCE(MAX(
    CAST(SUBSTRING(ticket_number FROM '[0-9]+$') AS INTEGER)
  ), 0) + 1
  INTO next_num
  FROM public.service_orders
  WHERE ticket_number LIKE month_letter || '-%';
  
  NEW.ticket_number := month_letter || '-' || LPAD(next_num::TEXT, 4, '0');
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SET search_path = public;

CREATE TRIGGER auto_ticket_number
  BEFORE INSERT ON public.service_orders
  FOR EACH ROW
  WHEN (NEW.ticket_number IS NULL OR NEW.ticket_number = '')
  EXECUTE FUNCTION public.generate_ticket_number();

-- Auto-create profile on signup
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
  INSERT INTO public.profiles (id, full_name, email, requested_role, is_approved)
  VALUES (
    NEW.id,
    COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.email),
    NEW.email,
    COALESCE((NEW.raw_user_meta_data->>'requested_role')::app_role, 'technician'),
    CASE 
      WHEN (NEW.raw_user_meta_data->>'requested_role') = 'owner' THEN TRUE
      ELSE FALSE
    END
  );
  
  -- If owner role requested and approved, auto-insert role
  IF (NEW.raw_user_meta_data->>'requested_role') = 'owner' THEN
    INSERT INTO public.user_roles (user_id, role) VALUES (NEW.id, 'owner');
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER SET search_path = public;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- ============ RLS POLICIES ============

-- profiles policies
CREATE POLICY "Users can view own profile"
  ON public.profiles FOR SELECT
  TO authenticated
  USING (id = auth.uid());

CREATE POLICY "Owner can view all profiles"
  ON public.profiles FOR SELECT
  TO authenticated
  USING (public.has_role(auth.uid(), 'owner'));

CREATE POLICY "Admin can view all profiles"
  ON public.profiles FOR SELECT
  TO authenticated
  USING (public.has_role(auth.uid(), 'admin'));

CREATE POLICY "Users can update own profile"
  ON public.profiles FOR UPDATE
  TO authenticated
  USING (id = auth.uid())
  WITH CHECK (id = auth.uid());

CREATE POLICY "Owner can update any profile"
  ON public.profiles FOR UPDATE
  TO authenticated
  USING (public.has_role(auth.uid(), 'owner'));

-- user_roles policies
CREATE POLICY "Owner can view all roles"
  ON public.user_roles FOR SELECT
  TO authenticated
  USING (public.has_role(auth.uid(), 'owner'));

CREATE POLICY "Users can view own role"
  ON public.user_roles FOR SELECT
  TO authenticated
  USING (user_id = auth.uid());

CREATE POLICY "Owner can insert roles"
  ON public.user_roles FOR INSERT
  TO authenticated
  WITH CHECK (public.has_role(auth.uid(), 'owner'));

CREATE POLICY "Owner can update roles"
  ON public.user_roles FOR UPDATE
  TO authenticated
  USING (public.has_role(auth.uid(), 'owner'));

CREATE POLICY "Owner can delete roles"
  ON public.user_roles FOR DELETE
  TO authenticated
  USING (public.has_role(auth.uid(), 'owner'));

-- service_orders policies
CREATE POLICY "Staff can view all orders"
  ON public.service_orders FOR SELECT
  TO authenticated
  USING (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

CREATE POLICY "Public can view orders by ticket"
  ON public.service_orders FOR SELECT
  TO anon
  USING (TRUE);

CREATE POLICY "Public authenticated can view orders by ticket"
  ON public.service_orders FOR SELECT
  TO authenticated
  USING (TRUE);

CREATE POLICY "Admin and owner can create orders"
  ON public.service_orders FOR INSERT
  TO authenticated
  WITH CHECK (
    (public.has_role(auth.uid(), 'admin') OR public.has_role(auth.uid(), 'owner'))
    AND public.is_approved(auth.uid())
  );

CREATE POLICY "Staff can update orders"
  ON public.service_orders FOR UPDATE
  TO authenticated
  USING (
    public.is_staff(auth.uid()) AND public.is_approved(auth.uid())
  );

CREATE POLICY "Owner can delete orders"
  ON public.service_orders FOR DELETE
  TO authenticated
  USING (public.has_role(auth.uid(), 'owner'));

-- service_updates policies
CREATE POLICY "Staff can view all updates"
  ON public.service_updates FOR SELECT
  TO authenticated
  USING (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

CREATE POLICY "Public can view updates"
  ON public.service_updates FOR SELECT
  TO anon
  USING (TRUE);

CREATE POLICY "Public auth can view updates"
  ON public.service_updates FOR SELECT
  TO authenticated
  USING (TRUE);

CREATE POLICY "Staff can create updates"
  ON public.service_updates FOR INSERT
  TO authenticated
  WITH CHECK (
    public.is_staff(auth.uid()) AND public.is_approved(auth.uid())
  );

-- service_photos policies
CREATE POLICY "Staff can view all photos"
  ON public.service_photos FOR SELECT
  TO authenticated
  USING (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

CREATE POLICY "Public can view photos"
  ON public.service_photos FOR SELECT
  TO anon
  USING (TRUE);

CREATE POLICY "Public auth can view photos"
  ON public.service_photos FOR SELECT
  TO authenticated
  USING (TRUE);

CREATE POLICY "Staff can insert photos"
  ON public.service_photos FOR INSERT
  TO authenticated
  WITH CHECK (
    public.is_staff(auth.uid()) AND public.is_approved(auth.uid())
  );

CREATE POLICY "Staff can delete photos"
  ON public.service_photos FOR DELETE
  TO authenticated
  USING (
    public.is_staff(auth.uid()) AND public.is_approved(auth.uid())
  );

-- saved_customers policies
CREATE POLICY "Staff can view saved customers"
  ON public.saved_customers FOR SELECT
  TO authenticated
  USING (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

CREATE POLICY "Staff can insert saved customers"
  ON public.saved_customers FOR INSERT
  TO authenticated
  WITH CHECK (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

CREATE POLICY "Staff can delete saved customers"
  ON public.saved_customers FOR DELETE
  TO authenticated
  USING (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

-- ============ STORAGE ============

-- Create unit-photos bucket (public for tracking page viewing)
INSERT INTO storage.buckets (id, name, public) VALUES ('unit-photos', 'unit-photos', true);

-- Storage policies
CREATE POLICY "Anyone can view unit photos"
  ON storage.objects FOR SELECT
  USING (bucket_id = 'unit-photos');

CREATE POLICY "Staff can upload unit photos"
  ON storage.objects FOR INSERT
  TO authenticated
  WITH CHECK (
    bucket_id = 'unit-photos' 
    AND public.is_staff(auth.uid()) 
    AND public.is_approved(auth.uid())
  );

CREATE POLICY "Staff can update unit photos"
  ON storage.objects FOR UPDATE
  TO authenticated
  USING (
    bucket_id = 'unit-photos' 
    AND public.is_staff(auth.uid()) 
    AND public.is_approved(auth.uid())
  );

CREATE POLICY "Staff can delete unit photos"
  ON storage.objects FOR DELETE
  TO authenticated
  USING (
    bucket_id = 'unit-photos' 
    AND public.is_staff(auth.uid()) 
    AND public.is_approved(auth.uid())
  );

-- Indexes for performance
CREATE INDEX idx_service_orders_ticket ON public.service_orders(ticket_number);
CREATE INDEX idx_service_orders_phone ON public.service_orders(customer_phone);
CREATE INDEX idx_service_orders_status ON public.service_orders(status);
CREATE INDEX idx_service_updates_order ON public.service_updates(order_id);
CREATE INDEX idx_service_photos_order ON public.service_photos(order_id);
CREATE INDEX idx_user_roles_user ON public.user_roles(user_id);

CREATE OR REPLACE FUNCTION public.generate_ticket_number()
 RETURNS trigger
 LANGUAGE plpgsql
 SET search_path TO 'public'
AS $function$
DECLARE
  month_letter CHAR(1);
  year_digits CHAR(2);
  next_num INTEGER;
  current_month INTEGER;
  current_year INTEGER;
  prefix TEXT;
BEGIN
  current_month := EXTRACT(MONTH FROM now())::INTEGER;
  current_year := EXTRACT(YEAR FROM now())::INTEGER;
  month_letter := CHR(64 + current_month); -- A=Jan, B=Feb, ... L=Dec
  year_digits := LPAD((current_year % 100)::TEXT, 2, '0'); -- e.g. 26
  prefix := month_letter || year_digits; -- e.g. C26

  SELECT COALESCE(MAX(
    CAST(SUBSTRING(ticket_number FROM 4) AS INTEGER)
  ), 0) + 1
  INTO next_num
  FROM public.service_orders
  WHERE ticket_number LIKE prefix || '%';

  NEW.ticket_number := prefix || LPAD(next_num::TEXT, 3, '0');
  RETURN NEW;
END;
$function$;
ALTER TABLE public.service_orders ADD COLUMN serial_number TEXT DEFAULT NULL;

ALTER TABLE public.profiles ADD COLUMN username TEXT UNIQUE;

CREATE POLICY "Anon can lookup email by username"
ON public.profiles
FOR SELECT
TO anon
USING (username IS NOT NULL);

ALTER TABLE public.service_orders
ADD COLUMN warranty_duration integer DEFAULT NULL,
ADD COLUMN warranty_unit text DEFAULT NULL,
ADD COLUMN warranty_notes text DEFAULT NULL,
ADD COLUMN warranty_expiry timestamp with time zone DEFAULT NULL;

CREATE POLICY "Admin can view all roles"
ON public.user_roles
FOR SELECT
TO authenticated
USING (has_role(auth.uid(), 'admin'::app_role));

-- Allow owner to delete service_updates
CREATE POLICY "Owner can delete updates"
ON public.service_updates
FOR DELETE
TO authenticated
USING (has_role(auth.uid(), 'owner'::app_role));

-- Allow owner to delete service_photos
CREATE POLICY "Owner can delete photos (owner)"
ON public.service_photos
FOR DELETE
TO authenticated
USING (has_role(auth.uid(), 'owner'::app_role));

-- Allow owner to delete profiles
CREATE POLICY "Owner can delete profiles"
ON public.profiles
FOR DELETE
TO authenticated
USING (has_role(auth.uid(), 'owner'::app_role));

-- Ensure cascade delete on service_updates -> service_orders
ALTER TABLE public.service_updates
DROP CONSTRAINT IF EXISTS service_updates_order_id_fkey,
ADD CONSTRAINT service_updates_order_id_fkey
  FOREIGN KEY (order_id) REFERENCES public.service_orders(id) ON DELETE CASCADE;

-- Ensure cascade delete on service_photos -> service_orders  
ALTER TABLE public.service_photos
DROP CONSTRAINT IF EXISTS service_photos_order_id_fkey,
ADD CONSTRAINT service_photos_order_id_fkey
  FOREIGN KEY (order_id) REFERENCES public.service_orders(id) ON DELETE CASCADE;

-- Add soft delete column
ALTER TABLE public.service_orders
ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE DEFAULT NULL;

-- Create index for efficient querying of non-deleted records
CREATE INDEX idx_service_orders_deleted_at ON public.service_orders (deleted_at);

ALTER TABLE public.service_orders
ADD COLUMN is_archived BOOLEAN NOT NULL DEFAULT FALSE;

CREATE INDEX idx_service_orders_archived ON public.service_orders (is_archived);

CREATE TABLE public.notifications (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  title TEXT NOT NULL,
  message TEXT NOT NULL,
  order_id UUID REFERENCES public.service_orders(id) ON DELETE CASCADE,
  is_read BOOLEAN NOT NULL DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own notifications"
ON public.notifications FOR SELECT
TO authenticated
USING (user_id = auth.uid());

CREATE POLICY "Users can update own notifications"
ON public.notifications FOR UPDATE
TO authenticated
USING (user_id = auth.uid());

CREATE POLICY "Staff can create notifications"
ON public.notifications FOR INSERT
TO authenticated
WITH CHECK (is_staff(auth.uid()) AND is_approved(auth.uid()));

CREATE INDEX idx_notifications_user_unread ON public.notifications(user_id, is_read) WHERE is_read = false;

ALTER PUBLICATION supabase_realtime ADD TABLE public.notifications;

CREATE TABLE public.internal_notes (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  order_id UUID NOT NULL REFERENCES public.service_orders(id) ON DELETE CASCADE,
  user_id UUID NOT NULL,
  content TEXT NOT NULL,
  is_read_by UUID[] DEFAULT '{}',
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.internal_notes ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Staff can view internal notes"
ON public.internal_notes FOR SELECT TO authenticated
USING (is_staff(auth.uid()) AND is_approved(auth.uid()));

CREATE POLICY "Staff can create internal notes"
ON public.internal_notes FOR INSERT TO authenticated
WITH CHECK (is_staff(auth.uid()) AND is_approved(auth.uid()));

CREATE POLICY "Staff can update internal notes"
ON public.internal_notes FOR UPDATE TO authenticated
USING (is_staff(auth.uid()) AND is_approved(auth.uid()));

CREATE POLICY "Owner can delete internal notes"
ON public.internal_notes FOR DELETE TO authenticated
USING (has_role(auth.uid(), 'owner'::app_role));

CREATE INDEX idx_internal_notes_order ON public.internal_notes(order_id);

CREATE TRIGGER update_internal_notes_updated_at
BEFORE UPDATE ON public.internal_notes
FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();
CREATE OR REPLACE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_new_user();
-- INSERT INTO public.profiles (id, full_name, email, requested_role, is_approved, username)
-- VALUES ('929377a6-73ad-4761-9415-1773004c6cb7', 'bambang harmoko', 'bambang@gmail.com', 'owner', TRUE, 'beng')
-- ON CONFLICT (id) DO NOTHING;

-- INSERT INTO public.user_roles (user_id, role)
-- VALUES ('929377a6-73ad-4761-9415-1773004c6cb7', 'owner')
-- ON CONFLICT (user_id, role) DO NOTHING;
CREATE POLICY "Anon can lookup profile by email"
ON public.profiles
FOR SELECT
TO anon
USING (email IS NOT NULL);
CREATE OR REPLACE TRIGGER generate_ticket_number_trigger
BEFORE INSERT ON public.service_orders
FOR EACH ROW
EXECUTE FUNCTION public.generate_ticket_number();
CREATE POLICY "Staff can update saved customers"
ON public.saved_customers
FOR UPDATE
TO authenticated
USING (is_staff(auth.uid()) AND is_approved(auth.uid()))
WITH CHECK (is_staff(auth.uid()) AND is_approved(auth.uid()));
CREATE OR REPLACE FUNCTION public.get_staff_identities(_user_ids uuid[])
RETURNS TABLE (
  user_id uuid,
  full_name text,
  username text,
  role public.app_role
)
LANGUAGE plpgsql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF NOT public.is_staff(auth.uid()) OR NOT public.is_approved(auth.uid()) THEN
    RAISE EXCEPTION 'not authorized';
  END IF;

  RETURN QUERY
  SELECT p.id, p.full_name, p.username, ur.role
  FROM public.profiles p
  JOIN public.user_roles ur ON ur.user_id = p.id
  WHERE p.id = ANY(COALESCE(_user_ids, ARRAY[]::uuid[]));
END;
$$;

REVOKE ALL ON FUNCTION public.get_staff_identities(uuid[]) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_staff_identities(uuid[]) TO authenticated;
-- 1. Tabel untuk menyimpan FCM token pelanggan
CREATE TABLE public.customer_push_tokens (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  ticket_number TEXT NOT NULL,
  fcm_token TEXT NOT NULL,
  user_agent TEXT,
  is_active BOOLEAN NOT NULL DEFAULT TRUE,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  UNIQUE (ticket_number, fcm_token)
);

CREATE INDEX idx_cpt_ticket ON public.customer_push_tokens(ticket_number) WHERE is_active = TRUE;
CREATE INDEX idx_cpt_token ON public.customer_push_tokens(fcm_token);

ALTER TABLE public.customer_push_tokens ENABLE ROW LEVEL SECURITY;

-- Siapa saja boleh mendaftarkan token (pelanggan tanpa login)
CREATE POLICY "Anyone can subscribe push token"
ON public.customer_push_tokens
FOR INSERT
TO anon, authenticated
WITH CHECK (true);

-- Siapa saja boleh update is_active untuk token mereka (unsubscribe)
CREATE POLICY "Anyone can update own push token"
ON public.customer_push_tokens
FOR UPDATE
TO anon, authenticated
USING (true)
WITH CHECK (true);

-- Siapa saja boleh menghapus token mereka
CREATE POLICY "Anyone can delete own push token"
ON public.customer_push_tokens
FOR DELETE
TO anon, authenticated
USING (true);

-- Hanya staff yang bisa view semua (untuk admin/debug)
CREATE POLICY "Staff can view all push tokens"
ON public.customer_push_tokens
FOR SELECT
TO authenticated
USING (is_staff(auth.uid()) AND is_approved(auth.uid()));

-- Trigger updated_at
CREATE TRIGGER update_customer_push_tokens_updated_at
BEFORE UPDATE ON public.customer_push_tokens
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();

-- 2. Enable pg_net extension untuk memanggil edge function dari trigger
CREATE EXTENSION IF NOT EXISTS pg_net WITH SCHEMA extensions;

-- 3. Function untuk trigger push notification saat status berubah
CREATE OR REPLACE FUNCTION public.trigger_push_on_status_change()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  function_url TEXT;
  service_key TEXT;
BEGIN
  -- Hanya trigger jika status benar-benar berubah
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    -- URL Edge Function
    function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-status-change';
    
    -- Service role key dari vault (atau hardcode untuk sekarang via secret)
    PERFORM extensions.http_post(
      url := function_url,
      headers := jsonb_build_object(
        'Content-Type', 'application/json'
      ),
      body := jsonb_build_object(
        'ticket_number', NEW.ticket_number,
        'old_status', OLD.status,
        'new_status', NEW.status,
        'customer_name', NEW.customer_name,
        'order_id', NEW.id
      )
    );
  END IF;
  
  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  -- Jangan gagalkan UPDATE jika notif gagal
  RAISE WARNING 'Push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

-- 4. Pasang trigger di service_orders
DROP TRIGGER IF EXISTS on_service_order_status_change ON public.service_orders;
CREATE TRIGGER on_service_order_status_change
AFTER UPDATE OF status ON public.service_orders
FOR EACH ROW
EXECUTE FUNCTION public.trigger_push_on_status_change();
CREATE EXTENSION IF NOT EXISTS http WITH SCHEMA extensions;

CREATE OR REPLACE FUNCTION public.trigger_push_on_status_change()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url TEXT;
BEGIN
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-status-change';

    PERFORM extensions.http_post(
      url := function_url,
      headers := jsonb_build_object(
        'Content-Type', 'application/json'
      ),
      body := jsonb_build_object(
        'ticket_number', NEW.ticket_number,
        'old_status', OLD.status,
        'new_status', NEW.status,
        'customer_name', NEW.customer_name,
        'order_id', NEW.id
      )
    );
  END IF;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS on_service_order_status_change ON public.service_orders;
CREATE TRIGGER on_service_order_status_change
AFTER UPDATE OF status ON public.service_orders
FOR EACH ROW
WHEN (OLD.status IS DISTINCT FROM NEW.status)
EXECUTE FUNCTION public.trigger_push_on_status_change();

DROP TRIGGER IF EXISTS update_customer_push_tokens_updated_at ON public.customer_push_tokens;
CREATE TRIGGER update_customer_push_tokens_updated_at
BEFORE UPDATE ON public.customer_push_tokens
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();
DROP TRIGGER IF EXISTS generate_ticket_number_trigger ON public.service_orders;

CREATE OR REPLACE FUNCTION public.generate_ticket_number()
RETURNS trigger
LANGUAGE plpgsql
SET search_path TO 'public'
AS $function$
DECLARE
  month_letter CHAR(1);
  year_digits CHAR(2);
  next_num INTEGER;
  current_month INTEGER;
  current_year INTEGER;
  prefix TEXT;
BEGIN
  IF NEW.ticket_number IS NOT NULL AND NEW.ticket_number <> '' THEN
    RETURN NEW;
  END IF;

  current_month := EXTRACT(MONTH FROM now())::INTEGER;
  current_year := EXTRACT(YEAR FROM now())::INTEGER;
  month_letter := CHR(64 + current_month);
  year_digits := LPAD((current_year % 100)::TEXT, 2, '0');
  prefix := month_letter || year_digits;

  SELECT COALESCE(MAX(CAST(SUBSTRING(ticket_number FROM 4) AS INTEGER)), 0) + 1
  INTO next_num
  FROM public.service_orders
  WHERE ticket_number LIKE prefix || '%'
    AND ticket_number ~ ('^' || prefix || '[0-9]{3,}$');

  NEW.ticket_number := prefix || LPAD(next_num::TEXT, 3, '0');
  RETURN NEW;
END;
$function$;
CREATE OR REPLACE FUNCTION public.trigger_push_on_status_change()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $function$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-status-change';

    SELECT net.http_post(
      url := function_url,
      headers := jsonb_build_object(
        'Content-Type', 'application/json'
      ),
      body := jsonb_build_object(
        'ticket_number', NEW.ticket_number,
        'old_status', OLD.status,
        'new_status', NEW.status,
        'customer_name', NEW.customer_name,
        'order_id', NEW.id
      ),
      timeout_milliseconds := 5000
    ) INTO request_id;
  END IF;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$function$;

DROP TRIGGER IF EXISTS on_service_order_status_change ON public.service_orders;

CREATE TRIGGER on_service_order_status_change
AFTER UPDATE OF status ON public.service_orders
FOR EACH ROW
WHEN (OLD.status IS DISTINCT FROM NEW.status)
EXECUTE FUNCTION public.trigger_push_on_status_change();
DROP POLICY IF EXISTS "Anyone can subscribe push token" ON public.customer_push_tokens;
DROP POLICY IF EXISTS "Anyone can update own push token" ON public.customer_push_tokens;
DROP POLICY IF EXISTS "Anyone can delete own push token" ON public.customer_push_tokens;

CREATE POLICY "Customers can subscribe push token for existing ticket"
ON public.customer_push_tokens
FOR INSERT
TO anon, authenticated
WITH CHECK (
  length(ticket_number) > 0
  AND length(fcm_token) > 0
  AND EXISTS (
    SELECT 1
    FROM public.service_orders so
    WHERE so.ticket_number = customer_push_tokens.ticket_number
  )
);

CREATE POLICY "Customers can update matching push token for existing ticket"
ON public.customer_push_tokens
FOR UPDATE
TO anon, authenticated
USING (
  length(ticket_number) > 0
  AND length(fcm_token) > 0
  AND EXISTS (
    SELECT 1
    FROM public.service_orders so
    WHERE so.ticket_number = customer_push_tokens.ticket_number
  )
)
WITH CHECK (
  length(ticket_number) > 0
  AND length(fcm_token) > 0
  AND EXISTS (
    SELECT 1
    FROM public.service_orders so
    WHERE so.ticket_number = customer_push_tokens.ticket_number
  )
);
CREATE TABLE IF NOT EXISTS public.otp_verifications (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  purpose TEXT NOT NULL,
  email TEXT NOT NULL,
  target_email TEXT NOT NULL DEFAULT 'bambanghrmko@gmail.com',
  code_hash TEXT NOT NULL,
  expires_at TIMESTAMP WITH TIME ZONE NOT NULL,
  attempts INTEGER NOT NULL DEFAULT 0,
  verified_at TIMESTAMP WITH TIME ZONE NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.otp_verifications ENABLE ROW LEVEL SECURITY;

CREATE INDEX IF NOT EXISTS idx_otp_verifications_lookup
ON public.otp_verifications (purpose, lower(email), created_at DESC)
WHERE verified_at IS NULL;

CREATE OR REPLACE FUNCTION public.hash_otp(_code TEXT)
RETURNS TEXT
LANGUAGE sql
IMMUTABLE
SET search_path = public
AS $$
  SELECT md5('super-computer-otp:' || _code)
$$;

CREATE OR REPLACE FUNCTION public.cleanup_expired_otps()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  DELETE FROM public.otp_verifications
  WHERE expires_at < now() - interval '1 hour'
     OR created_at < now() - interval '1 day';
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS cleanup_expired_otps_trigger ON public.otp_verifications;
CREATE TRIGGER cleanup_expired_otps_trigger
AFTER INSERT ON public.otp_verifications
FOR EACH STATEMENT
EXECUTE FUNCTION public.cleanup_expired_otps();
DROP POLICY IF EXISTS "OTP records are backend only" ON public.otp_verifications;

CREATE POLICY "OTP records are backend only"
ON public.otp_verifications
FOR ALL
USING (false)
WITH CHECK (false);
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $function$
DECLARE
  requested public.app_role;
  owner_otp_verified BOOLEAN;
BEGIN
  requested := COALESCE((NEW.raw_user_meta_data->>'requested_role')::public.app_role, 'technician');

  SELECT EXISTS (
    SELECT 1
    FROM public.otp_verifications
    WHERE purpose = 'owner_register'
      AND lower(email) = lower(NEW.email)
      AND verified_at IS NOT NULL
      AND expires_at > now()
  ) INTO owner_otp_verified;

  IF requested = 'owner' AND NOT owner_otp_verified THEN
    requested := 'technician';
  END IF;

  INSERT INTO public.profiles (id, full_name, email, requested_role, is_approved, username)
  VALUES (
    NEW.id,
    COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.email),
    NEW.email,
    requested,
    CASE WHEN requested = 'owner' AND owner_otp_verified THEN TRUE ELSE FALSE END,
    NULLIF(NEW.raw_user_meta_data->>'username', '')
  );

  IF requested = 'owner' AND owner_otp_verified THEN
    INSERT INTO public.user_roles (user_id, role) VALUES (NEW.id, 'owner')
    ON CONFLICT (user_id, role) DO NOTHING;
  END IF;

  RETURN NEW;
END;
$function$;
ALTER TABLE public.service_orders
ADD COLUMN IF NOT EXISTS is_picked_up boolean NOT NULL DEFAULT false;

CREATE INDEX IF NOT EXISTS idx_service_orders_cancel_pickup
ON public.service_orders (status, is_picked_up)
WHERE deleted_at IS NULL;
ALTER TABLE public.service_orders
ADD COLUMN IF NOT EXISTS update_delay_reason TEXT;
ALTER PUBLICATION supabase_realtime ADD TABLE public.service_orders;
ALTER PUBLICATION supabase_realtime ADD TABLE public.service_updates;
ALTER PUBLICATION supabase_realtime ADD TABLE public.internal_notes;
DROP INDEX IF EXISTS public.idx_service_orders_archived;
ALTER TABLE public.service_orders DROP COLUMN IF EXISTS is_archived;
CREATE TABLE IF NOT EXISTS public.staff_push_tokens (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  fcm_token text NOT NULL,
  user_agent text,
  is_active boolean NOT NULL DEFAULT true,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  UNIQUE (user_id, fcm_token)
);

ALTER TABLE public.staff_push_tokens ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Staff can view own push tokens" ON public.staff_push_tokens;
CREATE POLICY "Staff can view own push tokens"
ON public.staff_push_tokens
FOR SELECT
TO authenticated
USING (user_id = auth.uid());

DROP POLICY IF EXISTS "Staff can create own push tokens" ON public.staff_push_tokens;
CREATE POLICY "Staff can create own push tokens"
ON public.staff_push_tokens
FOR INSERT
TO authenticated
WITH CHECK (user_id = auth.uid() AND public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

DROP POLICY IF EXISTS "Staff can update own push tokens" ON public.staff_push_tokens;
CREATE POLICY "Staff can update own push tokens"
ON public.staff_push_tokens
FOR UPDATE
TO authenticated
USING (user_id = auth.uid())
WITH CHECK (user_id = auth.uid() AND public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

CREATE INDEX IF NOT EXISTS idx_staff_push_tokens_user_active
ON public.staff_push_tokens (user_id, is_active);

DROP TRIGGER IF EXISTS update_staff_push_tokens_updated_at ON public.staff_push_tokens;
CREATE TRIGGER update_staff_push_tokens_updated_at
BEFORE UPDATE ON public.staff_push_tokens
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();

CREATE OR REPLACE FUNCTION public.trigger_staff_push_on_service_update()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-staff-update';

  SELECT net.http_post(
    url := function_url,
    headers := jsonb_build_object('Content-Type', 'application/json'),
    body := jsonb_build_object(
      'update_id', NEW.id,
      'order_id', NEW.order_id,
      'status', NEW.status,
      'updated_by', NEW.updated_by
    ),
    timeout_milliseconds := 5000
  ) INTO request_id;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Staff push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS on_service_update_staff_push ON public.service_updates;
CREATE TRIGGER on_service_update_staff_push
AFTER INSERT ON public.service_updates
FOR EACH ROW
EXECUTE FUNCTION public.trigger_staff_push_on_service_update();
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM PUBLIC;
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM anon;
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM authenticated;
CREATE EXTENSION IF NOT EXISTS pg_net WITH SCHEMA extensions;

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1
    FROM pg_publication_tables
    WHERE pubname = 'supabase_realtime'
      AND schemaname = 'public'
      AND tablename = 'service_orders'
  ) THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE public.service_orders;
  END IF;

  IF NOT EXISTS (
    SELECT 1
    FROM pg_publication_tables
    WHERE pubname = 'supabase_realtime'
      AND schemaname = 'public'
      AND tablename = 'service_updates'
  ) THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE public.service_updates;
  END IF;

  IF NOT EXISTS (
    SELECT 1
    FROM pg_publication_tables
    WHERE pubname = 'supabase_realtime'
      AND schemaname = 'public'
      AND tablename = 'internal_notes'
  ) THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE public.internal_notes;
  END IF;
END $$;

CREATE OR REPLACE FUNCTION public.trigger_staff_push_on_service_update()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-staff-update';

  SELECT extensions.net.http_post(
    url := function_url,
    headers := jsonb_build_object('Content-Type', 'application/json'),
    body := jsonb_build_object(
      'update_id', NEW.id,
      'order_id', NEW.order_id,
      'status', NEW.status,
      'updated_by', NEW.updated_by
    ),
    timeout_milliseconds := 5000
  ) INTO request_id;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Staff push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS on_service_update_staff_push ON public.service_updates;
CREATE TRIGGER on_service_update_staff_push
AFTER INSERT ON public.service_updates
FOR EACH ROW
EXECUTE FUNCTION public.trigger_staff_push_on_service_update();

CREATE OR REPLACE FUNCTION public.trigger_push_on_status_change()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-status-change';

    SELECT extensions.net.http_post(
      url := function_url,
      headers := jsonb_build_object('Content-Type', 'application/json'),
      body := jsonb_build_object(
        'ticket_number', NEW.ticket_number,
        'old_status', OLD.status,
        'new_status', NEW.status,
        'customer_name', NEW.customer_name,
        'order_id', NEW.id
      ),
      timeout_milliseconds := 5000
    ) INTO request_id;
  END IF;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS on_service_order_status_change ON public.service_orders;
CREATE TRIGGER on_service_order_status_change
AFTER UPDATE OF status ON public.service_orders
FOR EACH ROW
WHEN (OLD.status IS DISTINCT FROM NEW.status)
EXECUTE FUNCTION public.trigger_push_on_status_change();
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM PUBLIC;
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM anon;
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM authenticated;

REVOKE ALL ON FUNCTION public.trigger_push_on_status_change() FROM PUBLIC;
REVOKE ALL ON FUNCTION public.trigger_push_on_status_change() FROM anon;
REVOKE ALL ON FUNCTION public.trigger_push_on_status_change() FROM authenticated;

DROP POLICY IF EXISTS "Anon can lookup email by username" ON public.profiles;
DROP POLICY IF EXISTS "Anon can lookup profile by email" ON public.profiles;

CREATE OR REPLACE FUNCTION public.lookup_login_email(_identifier text)
RETURNS text
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT email
  FROM public.profiles
  WHERE _identifier IS NOT NULL
    AND length(trim(_identifier)) > 0
    AND (
      lower(email) = lower(trim(_identifier))
      OR lower(username) = lower(trim(_identifier))
    )
  LIMIT 1;
$$;
REVOKE ALL ON FUNCTION public.lookup_login_email(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.lookup_login_email(text) TO anon, authenticated;

DROP POLICY IF EXISTS "Public can view orders by ticket" ON public.service_orders;
DROP POLICY IF EXISTS "Public authenticated can view orders by ticket" ON public.service_orders;

CREATE OR REPLACE FUNCTION public.get_public_order_by_ticket(_ticket text)
RETURNS TABLE (
  id uuid,
  ticket_number text,
  customer_name text,
  device_type text,
  device_brand text,
  device_model text,
  service_type text,
  unit_condition text,
  status text,
  notes text,
  unit_checks jsonb,
  created_at timestamptz,
  invoice_items jsonb,
  final_cost numeric
)
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT so.id, so.ticket_number, so.customer_name, so.device_type, so.device_brand,
         so.device_model, so.service_type, so.unit_condition, so.status, so.notes,
         so.unit_checks, so.created_at, so.invoice_items, so.final_cost
  FROM public.service_orders so
  WHERE so.ticket_number = upper(trim(_ticket))
  LIMIT 1;
$$;
REVOKE ALL ON FUNCTION public.get_public_order_by_ticket(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_public_order_by_ticket(text) TO anon, authenticated;

CREATE OR REPLACE FUNCTION public.get_public_updates_by_ticket(_ticket text)
RETURNS TABLE (
  status text,
  description text,
  created_at timestamptz,
  cancel_type text
)
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT su.status, su.description, su.created_at, su.cancel_type
  FROM public.service_updates su
  JOIN public.service_orders so ON so.id = su.order_id
  WHERE so.ticket_number = upper(trim(_ticket))
  ORDER BY su.created_at ASC;
$$;
REVOKE ALL ON FUNCTION public.get_public_updates_by_ticket(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_public_updates_by_ticket(text) TO anon, authenticated;

CREATE OR REPLACE FUNCTION public.get_public_photos_by_ticket(_ticket text)
RETURNS TABLE (
  photo_url text,
  label text
)
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT sp.photo_url, sp.label
  FROM public.service_photos sp
  JOIN public.service_orders so ON so.id = sp.order_id
  WHERE so.ticket_number = upper(trim(_ticket));
$$;
REVOKE ALL ON FUNCTION public.get_public_photos_by_ticket(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_public_photos_by_ticket(text) TO anon, authenticated;

CREATE OR REPLACE FUNCTION public.is_staff(_user_id uuid)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.user_roles
    WHERE user_id = _user_id
      AND role IN ('owner'::app_role, 'admin'::app_role, 'technician'::app_role)
  )
$$;

DROP POLICY IF EXISTS "Customers can subscribe push token for existing ticket" ON public.customer_push_tokens;
DROP POLICY IF EXISTS "Customers can update matching push token for existing ticket" ON public.customer_push_tokens;

DROP POLICY IF EXISTS "Anyone can view unit photos" ON storage.objects;

REVOKE ALL ON FUNCTION public.update_updated_at_column() FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.generate_ticket_number() FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.trigger_push_on_status_change() FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.hash_otp(text) FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.cleanup_expired_otps() FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.handle_new_user() FROM PUBLIC, anon, authenticated;

REVOKE ALL ON FUNCTION public.has_role(uuid, app_role) FROM PUBLIC, anon;
GRANT EXECUTE ON FUNCTION public.has_role(uuid, app_role) TO authenticated;

REVOKE ALL ON FUNCTION public.is_staff(uuid) FROM PUBLIC, anon;
GRANT EXECUTE ON FUNCTION public.is_staff(uuid) TO authenticated;

REVOKE ALL ON FUNCTION public.is_approved(uuid) FROM PUBLIC, anon;
GRANT EXECUTE ON FUNCTION public.is_approved(uuid) TO authenticated;

REVOKE ALL ON FUNCTION public.get_staff_identities(uuid[]) FROM PUBLIC, anon;
GRANT EXECUTE ON FUNCTION public.get_staff_identities(uuid[]) TO authenticated;
-- Remove anonymous and unrestricted authenticated read on service_photos and service_updates
DROP POLICY IF EXISTS "Public can view photos" ON public.service_photos;
DROP POLICY IF EXISTS "Public auth can view photos" ON public.service_photos;
DROP POLICY IF EXISTS "Public can view updates" ON public.service_updates;
DROP POLICY IF EXISTS "Public auth can view updates" ON public.service_updates;

-- Harden is_staff to also require approval
CREATE OR REPLACE FUNCTION public.is_staff(_user_id uuid)
RETURNS boolean
LANGUAGE sql
STABLE SECURITY DEFINER
SET search_path TO 'public'
AS $function$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles ur
    JOIN public.profiles p ON p.id = ur.user_id
    WHERE ur.user_id = _user_id
      AND ur.role IN ('owner'::app_role, 'admin'::app_role, 'technician'::app_role)
      AND p.is_approved = TRUE
  )
$function$;

-- Lock down customer_push_tokens writes to service role only (edge functions)
REVOKE INSERT, UPDATE, DELETE ON public.customer_push_tokens FROM anon, authenticated;
-- Ensure role checks cannot be satisfied by unapproved profiles
CREATE OR REPLACE FUNCTION public.has_role(_user_id uuid, _role app_role)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path TO 'public'
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles ur
    JOIN public.profiles p ON p.id = ur.user_id
    WHERE ur.user_id = _user_id
      AND ur.role = _role
      AND p.is_approved = TRUE
  )
$$;

REVOKE ALL ON FUNCTION public.has_role(uuid, app_role) FROM PUBLIC, anon;
GRANT EXECUTE ON FUNCTION public.has_role(uuid, app_role) TO authenticated;
GRANT EXECUTE ON FUNCTION public.has_role(uuid, app_role) TO service_role;

-- Add explicit approval checks to all policies that grant elevated access by role
ALTER POLICY "Owner can delete internal notes"
ON public.internal_notes
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Admin can view all profiles"
ON public.profiles
USING (public.has_role(auth.uid(), 'admin'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can delete profiles"
ON public.profiles
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can update any profile"
ON public.profiles
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can view all profiles"
ON public.profiles
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can delete orders"
ON public.service_orders
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can delete photos (owner)"
ON public.service_photos
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can delete updates"
ON public.service_updates
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Admin can view all roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'admin'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can delete roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can insert roles"
ON public.user_roles
WITH CHECK (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can update roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()))
WITH CHECK (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

ALTER POLICY "Owner can view all roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'owner'::app_role) AND public.is_approved(auth.uid()));

-- Explicitly deny direct browser writes to customer push tokens; edge functions use service role
DROP POLICY IF EXISTS "Customer push tokens browser inserts are denied" ON public.customer_push_tokens;
DROP POLICY IF EXISTS "Customer push tokens browser updates are denied" ON public.customer_push_tokens;
DROP POLICY IF EXISTS "Customer push tokens browser deletes are denied" ON public.customer_push_tokens;

CREATE POLICY "Customer push tokens browser inserts are denied"
ON public.customer_push_tokens
FOR INSERT
TO anon, authenticated
WITH CHECK (false);

CREATE POLICY "Customer push tokens browser updates are denied"
ON public.customer_push_tokens
FOR UPDATE
TO anon, authenticated
USING (false)
WITH CHECK (false);

CREATE POLICY "Customer push tokens browser deletes are denied"
ON public.customer_push_tokens
FOR DELETE
TO anon, authenticated
USING (false);

-- Restrict Realtime channel authorization to approved staff accounts
DROP POLICY IF EXISTS "Approved staff can receive realtime messages" ON realtime.messages;
DROP POLICY IF EXISTS "Approved staff can send realtime messages" ON realtime.messages;

CREATE POLICY "Approved staff can receive realtime messages"
ON realtime.messages
FOR SELECT
TO authenticated
USING (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));

CREATE POLICY "Approved staff can send realtime messages"
ON realtime.messages
FOR INSERT
TO authenticated
WITH CHECK (public.is_staff(auth.uid()) AND public.is_approved(auth.uid()));
-- Standardize approval enforcement inside public.is_staff() and public.has_role()
ALTER POLICY "Staff can view all push tokens"
ON public.customer_push_tokens
USING (public.is_staff(auth.uid()));

ALTER POLICY "Owner can delete internal notes"
ON public.internal_notes
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Staff can create internal notes"
ON public.internal_notes
WITH CHECK (public.is_staff(auth.uid()));

ALTER POLICY "Staff can update internal notes"
ON public.internal_notes
USING (public.is_staff(auth.uid()));

ALTER POLICY "Staff can view internal notes"
ON public.internal_notes
USING (public.is_staff(auth.uid()));

ALTER POLICY "Staff can create notifications"
ON public.notifications
WITH CHECK (public.is_staff(auth.uid()));

ALTER POLICY "Admin can view all profiles"
ON public.profiles
USING (public.has_role(auth.uid(), 'admin'::app_role));

ALTER POLICY "Owner can delete profiles"
ON public.profiles
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Owner can update any profile"
ON public.profiles
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Owner can view all profiles"
ON public.profiles
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Staff can delete saved customers"
ON public.saved_customers
USING (public.is_staff(auth.uid()));

ALTER POLICY "Staff can insert saved customers"
ON public.saved_customers
WITH CHECK (public.is_staff(auth.uid()));

ALTER POLICY "Staff can update saved customers"
ON public.saved_customers
USING (public.is_staff(auth.uid()))
WITH CHECK (public.is_staff(auth.uid()));

ALTER POLICY "Staff can view saved customers"
ON public.saved_customers
USING (public.is_staff(auth.uid()));

ALTER POLICY "Admin and owner can create orders"
ON public.service_orders
WITH CHECK (public.has_role(auth.uid(), 'admin'::app_role) OR public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Owner can delete orders"
ON public.service_orders
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Staff can update orders"
ON public.service_orders
USING (public.is_staff(auth.uid()));

ALTER POLICY "Staff can view all orders"
ON public.service_orders
USING (public.is_staff(auth.uid()));

ALTER POLICY "Owner can delete photos (owner)"
ON public.service_photos
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Staff can delete photos"
ON public.service_photos
USING (public.is_staff(auth.uid()));

ALTER POLICY "Staff can insert photos"
ON public.service_photos
WITH CHECK (public.is_staff(auth.uid()));

ALTER POLICY "Staff can view all photos"
ON public.service_photos
USING (public.is_staff(auth.uid()));

ALTER POLICY "Owner can delete updates"
ON public.service_updates
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Staff can create updates"
ON public.service_updates
WITH CHECK (public.is_staff(auth.uid()));

ALTER POLICY "Staff can view all updates"
ON public.service_updates
USING (public.is_staff(auth.uid()));

ALTER POLICY "Staff can create own push tokens"
ON public.staff_push_tokens
WITH CHECK ((user_id = auth.uid()) AND public.is_staff(auth.uid()));

ALTER POLICY "Staff can update own push tokens"
ON public.staff_push_tokens
USING ((user_id = auth.uid()) AND public.is_staff(auth.uid()))
WITH CHECK ((user_id = auth.uid()) AND public.is_staff(auth.uid()));

DROP POLICY IF EXISTS "Staff can delete own push tokens" ON public.staff_push_tokens;
CREATE POLICY "Staff can delete own push tokens"
ON public.staff_push_tokens
FOR DELETE
TO authenticated
USING ((user_id = auth.uid()) AND public.is_staff(auth.uid()));

ALTER POLICY "Admin can view all roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'admin'::app_role));

ALTER POLICY "Owner can delete roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Owner can insert roles"
ON public.user_roles
WITH CHECK (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Owner can update roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'owner'::app_role))
WITH CHECK (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Owner can view all roles"
ON public.user_roles
USING (public.has_role(auth.uid(), 'owner'::app_role));

ALTER POLICY "Approved staff can receive realtime messages"
ON realtime.messages
USING (public.is_staff(auth.uid()));

ALTER POLICY "Approved staff can send realtime messages"
ON realtime.messages
WITH CHECK (public.is_staff(auth.uid()));

COMMENT ON FUNCTION public.has_role(uuid, app_role) IS 'Central role check for RLS; returns true only when the user has the requested role and the profile is approved.';
COMMENT ON FUNCTION public.is_staff(uuid) IS 'Central staff check for RLS; returns true only for owner/admin/technician roles with approved profiles.';
CREATE EXTENSION IF NOT EXISTS pg_net WITH SCHEMA extensions;

CREATE OR REPLACE FUNCTION public.trigger_push_on_status_change()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-status-change';

    SELECT extensions.net.http_post(
      url := function_url,
      headers := jsonb_build_object('Content-Type', 'application/json'),
      body := jsonb_build_object(
        'ticket_number', NEW.ticket_number,
        'old_status', OLD.status,
        'new_status', NEW.status,
        'customer_name', NEW.customer_name,
        'order_id', NEW.id
      ),
      timeout_milliseconds := 5000
    ) INTO request_id;
  END IF;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

CREATE OR REPLACE FUNCTION public.trigger_staff_push_on_service_update()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  function_url := 'https://njytakdtmaudolpovvbg.supabase.co/functions/v1/notify-staff-update';

  SELECT extensions.net.http_post(
    url := function_url,
    headers := jsonb_build_object('Content-Type', 'application/json'),
    body := jsonb_build_object(
      'update_id', NEW.id,
      'order_id', NEW.order_id,
      'status', NEW.status,
      'updated_by', NEW.updated_by
    ),
    timeout_milliseconds := 5000
  ) INTO request_id;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Staff push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

REVOKE ALL ON FUNCTION public.trigger_push_on_status_change() FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM PUBLIC, anon, authenticated;
GRANT EXECUTE ON FUNCTION public.trigger_push_on_status_change() TO service_role;
GRANT EXECUTE ON FUNCTION public.trigger_staff_push_on_service_update() TO service_role;

DROP TRIGGER IF EXISTS on_service_order_status_change ON public.service_orders;
CREATE TRIGGER on_service_order_status_change
AFTER UPDATE OF status ON public.service_orders
FOR EACH ROW
WHEN (OLD.status IS DISTINCT FROM NEW.status)
EXECUTE FUNCTION public.trigger_push_on_status_change();

DROP TRIGGER IF EXISTS on_service_update_staff_push ON public.service_updates;
CREATE TRIGGER on_service_update_staff_push
AFTER INSERT ON public.service_updates
FOR EACH ROW
EXECUTE FUNCTION public.trigger_staff_push_on_service_update();
CREATE EXTENSION IF NOT EXISTS pg_net WITH SCHEMA extensions;

GRANT ALL ON public.customer_push_tokens TO service_role;
GRANT ALL ON public.staff_push_tokens TO service_role;
GRANT SELECT, INSERT, UPDATE, DELETE ON public.staff_push_tokens TO authenticated;

CREATE OR REPLACE FUNCTION public.trigger_push_on_status_change()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    function_url := 'https://wytbkueaymkpbwmbvkul.supabase.co/functions/v1/notify-status-change';

    SELECT net.http_post(
      url := function_url,
      headers := jsonb_build_object('Content-Type', 'application/json'),
      body := jsonb_build_object(
        'ticket_number', NEW.ticket_number,
        'old_status', OLD.status,
        'new_status', NEW.status,
        'customer_name', NEW.customer_name,
        'order_id', NEW.id
      ),
      timeout_milliseconds := 5000
    ) INTO request_id;
  END IF;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

CREATE OR REPLACE FUNCTION public.trigger_staff_push_on_service_update()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  function_url text;
  request_id bigint;
BEGIN
  function_url := 'https://wytbkueaymkpbwmbvkul.supabase.co/functions/v1/notify-staff-update';

  SELECT net.http_post(
    url := function_url,
    headers := jsonb_build_object('Content-Type', 'application/json'),
    body := jsonb_build_object(
      'update_id', NEW.id,
      'order_id', NEW.order_id,
      'status', NEW.status,
      'updated_by', NEW.updated_by
    ),
    timeout_milliseconds := 5000
  ) INTO request_id;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE WARNING 'Staff push notification trigger failed: %', SQLERRM;
  RETURN NEW;
END;
$$;

REVOKE ALL ON FUNCTION public.trigger_push_on_status_change() FROM PUBLIC, anon, authenticated;
REVOKE ALL ON FUNCTION public.trigger_staff_push_on_service_update() FROM PUBLIC, anon, authenticated;
GRANT EXECUTE ON FUNCTION public.trigger_push_on_status_change() TO service_role;
GRANT EXECUTE ON FUNCTION public.trigger_staff_push_on_service_update() TO service_role;

DROP TRIGGER IF EXISTS on_service_order_status_change ON public.service_orders;
CREATE TRIGGER on_service_order_status_change
AFTER UPDATE OF status ON public.service_orders
FOR EACH ROW
WHEN (OLD.status IS DISTINCT FROM NEW.status)
EXECUTE FUNCTION public.trigger_push_on_status_change();

DROP TRIGGER IF EXISTS on_service_update_staff_push ON public.service_updates;
CREATE TRIGGER on_service_update_staff_push
AFTER INSERT ON public.service_updates
FOR EACH ROW
EXECUTE FUNCTION public.trigger_staff_push_on_service_update();
-- Add SELECT policy for staff on storage.objects to allow listing files in 'unit-photos' bucket
CREATE POLICY "Staff can view unit photos"
  ON storage.objects FOR SELECT
  TO authenticated
  USING (
    bucket_id = 'unit-photos'
    AND public.is_staff(auth.uid())
    AND public.is_approved(auth.uid())
  );
CREATE POLICY "Users can delete own notifications"
ON public.notifications FOR DELETE
TO authenticated
USING (user_id = auth.uid());
CREATE OR REPLACE FUNCTION public.get_public_orders_by_phone(_phone text)
RETURNS TABLE (
  id uuid,
  ticket_number text,
  customer_name text,
  device_type text,
  device_brand text,
  device_model text,
  service_type text,
  status text,
  created_at timestamptz
)
LANGUAGE plpgsql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  _clean_phone text;
  _local_phone text;
BEGIN
  -- Clean input to digits only
  _clean_phone := regexp_replace(_phone, '\D', '', 'g');
  
  IF _clean_phone IS NULL OR length(_clean_phone) < 5 THEN
    RETURN;
  END IF;

  -- Extract local number (remove leading 0 or 62)
  _local_phone := _clean_phone;
  IF _clean_phone LIKE '0%' THEN
    _local_phone := substring(_clean_phone from 2);
  ELSIF _clean_phone LIKE '62%' THEN
    _local_phone := substring(_clean_phone from 3);
  END IF;

  RETURN QUERY
  SELECT so.id, so.ticket_number, so.customer_name, so.device_type, so.device_brand,
         so.device_model, so.service_type, so.status::text, so.created_at
  FROM public.service_orders so
  WHERE 
    CASE 
      WHEN regexp_replace(so.customer_phone, '\D', '', 'g') LIKE '0%' THEN substring(regexp_replace(so.customer_phone, '\D', '', 'g') from 2)
      WHEN regexp_replace(so.customer_phone, '\D', '', 'g') LIKE '62%' THEN substring(regexp_replace(so.customer_phone, '\D', '', 'g') from 3)
      ELSE regexp_replace(so.customer_phone, '\D', '', 'g')
    END = _local_phone;
END;
$$;

REVOKE ALL ON FUNCTION public.get_public_orders_by_phone(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_public_orders_by_phone(text) TO anon, authenticated;
-- Rename enum values for service_status
ALTER TYPE public.service_status RENAME VALUE 'Menunggu Konfirmasi' TO 'Menunggu Persetujuan Pelanggan';
ALTER TYPE public.service_status RENAME VALUE 'Pending' TO 'Menunggu Sparepart';
-- Add saved_customer_id to service_orders to link tickets with saved customers.
-- This column is nullable (backward-compatible):
--   NULL  â†’ manual customer (name/phone editable directly on the ticket)
--   NOT NULL â†’ linked to a saved_customers record (name/phone managed via Kelola Pelanggan)
--
-- ON DELETE SET NULL: if the saved_customer record is deleted, the ticket becomes "manual"
-- ON UPDATE CASCADE: if saved_customers.id changes (shouldn't happen with UUIDs, but safe)

ALTER TABLE public.service_orders
  ADD COLUMN IF NOT EXISTS saved_customer_id uuid NULL
    REFERENCES public.saved_customers(id)
    ON DELETE SET NULL
    ON UPDATE CASCADE;

-- Index for fast batch-update lookups (CustomerManagement update flow)
CREATE INDEX IF NOT EXISTS idx_service_orders_saved_customer_id
  ON public.service_orders (saved_customer_id)
  WHERE saved_customer_id IS NOT NULL;
-- Migration: Remove defunct staff push trigger to prevent duplicate notifications
-- The responsibility of notifying staff has been moved to the frontend using the Edge Function 
-- to avoid 401 Unauthorized errors caused by missing JWTs in the database trigger.

DROP TRIGGER IF EXISTS on_service_update_staff_push ON public.service_updates;
DROP FUNCTION IF EXISTS public.trigger_staff_push_on_service_update();
-- Create the proxy table that exposes only non-PII fields needed for realtime status updates
CREATE TABLE IF NOT EXISTS public.public_service_updates (
    order_id UUID PRIMARY KEY REFERENCES public.service_orders(id) ON DELETE CASCADE,
    status TEXT NOT NULL,
    updated_at TIMESTAMPTZ DEFAULT NOW() NOT NULL
);

-- Enable RLS
ALTER TABLE public.public_service_updates ENABLE ROW LEVEL SECURITY;

-- Allow anon to SELECT from this table. This is safe because it only contains UUIDs and statuses.
CREATE POLICY "Anon can view public updates"
    ON public.public_service_updates
    FOR SELECT
    TO anon, authenticated
    USING (TRUE);

-- Add to supabase_realtime publication
ALTER PUBLICATION supabase_realtime ADD TABLE public.public_service_updates;

-- Create function to sync status changes from service_orders
CREATE OR REPLACE FUNCTION public.sync_public_service_updates()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
    INSERT INTO public.public_service_updates (order_id, status, updated_at)
    VALUES (NEW.id, NEW.status, NOW())
    ON CONFLICT (order_id)
    DO UPDATE SET 
        status = EXCLUDED.status,
        updated_at = NOW();
    RETURN NEW;
END;
$$;

-- Create trigger on service_orders to fire when status changes
DROP TRIGGER IF EXISTS on_service_order_status_change ON public.service_orders;
CREATE TRIGGER on_service_order_status_change
    AFTER INSERT OR UPDATE OF status
    ON public.service_orders
    FOR EACH ROW
    EXECUTE FUNCTION public.sync_public_service_updates();

-- Populate the table with existing data
INSERT INTO public.public_service_updates (order_id, status, updated_at)
SELECT id, status, updated_at
FROM public.service_orders
ON CONFLICT (order_id) DO NOTHING;
-- Migration: Remove "qc_Lainnya" from unit_checks in service_orders
-- This safely removes the specific JSONB key without affecting other checks.

UPDATE service_orders
SET unit_checks = unit_checks - 'qc_Lainnya'
WHERE unit_checks ? 'qc_Lainnya';
-- Enforce role validation for Diterima -> Diagnosa transition

CREATE OR REPLACE FUNCTION check_diterima_diagnosa_transition()
RETURNS TRIGGER AS 
DECLARE
  user_role public.app_role;
BEGIN
  -- Only validate if transitioning from Diterima to Diagnosa
  IF OLD.status = 'Diterima' AND NEW.status = 'Diagnosa' THEN
    -- Get current user role
    SELECT role INTO user_role FROM public.user_roles WHERE user_id = auth.uid();
    
    IF user_role IN ('admin', 'owner') THEN
      RAISE EXCEPTION 'Role % tidak dapat melakukan aksi ini.', INITCAP(user_role::text);
    END IF;
  END IF;
  
  RETURN NEW;
END;
 LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_check_diterima_diagnosa_transition ON public.service_orders;
CREATE TRIGGER trg_check_diterima_diagnosa_transition
BEFORE UPDATE ON public.service_orders
FOR EACH ROW
EXECUTE FUNCTION check_diterima_diagnosa_transition();
CREATE OR REPLACE FUNCTION public.remove_push_token(token_to_remove text)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  DELETE FROM public.staff_push_tokens WHERE fcm_token = token_to_remove;
  DELETE FROM public.customer_push_tokens WHERE fcm_token = token_to_remove;
END;
$$;
DROP TRIGGER IF EXISTS on_service_order_status_change_push ON public.service_orders;
CREATE TRIGGER on_service_order_status_change_push
    AFTER UPDATE OF status
    ON public.service_orders
    FOR EACH ROW
    EXECUTE FUNCTION public.trigger_push_on_status_change();
CREATE OR REPLACE FUNCTION public.remove_push_token(token_to_remove text)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  DELETE FROM public.staff_push_tokens WHERE fcm_token = token_to_remove;
END;
$$;
